<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="../../assets/logo.png" alt="logo">
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">
        Home
      </a>
      <a class="navbar-item" routerLink="/national">
        National
      </a>
      <a class="navbar-item" routerLink="/regional">
        Regional
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <div class="button is-link">
            Sign Up
          </div>
          <div class="button is-link is-light">
            Login
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
